name: themachine

services:
  auth:
    container_name: auth
    image: pkoenig10/auth-oidc
    command: >
      -external-url https://auth.$DOMAIN
      -client-id $CLIENT_ID
      -client-secret $CLIENT_SECRET
      -token-key $COOKIE_KEY
      -cookie-domain $DOMAIN
      -config-file /config.yml
    restart: unless-stopped
    user: $UID:$GID
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./auth/config.yml:/config.yml:ro

  backup:
    container_name: backup
    image: pkoenig10/backup-google
    command: >
      -bucket-name $BUCKET_NAME
      -config-file /config.yml
      -credentials-file /credentials.json
    profiles:
      - task
    user: $UID:$GID
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $SERVER_DIR:/files/server:ro
      - .:/files/project:ro
      - ./backup/config.yml:/config.yml:ro
      - ./backup/credentials.json:/credentials.json:ro

  caddy:
    container_name: caddy
    image: pkoenig10/caddy
    environment:
      CLOUDFLARE_API_TOKEN: $CLOUDFLARE_API_TOKEN
      DOMAIN: $DOMAIN
      USERNAME: $USERNAME
      PASSWORD: $PASSWORD
    ports:
      - 443:443
      - 443:443/udp
    restart: unless-stopped
    user: $UID:$GID
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $SERVER_DIR/caddy/data:/data
      - $SERVER_DIR/caddy/config:/config
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro

  ddns:
    container_name: ddns
    image: pkoenig10/ddns-cloudflare
    environment:
      DOMAIN: $DOMAIN
      API_TOKEN: $CLOUDFLARE_API_TOKEN
    network_mode: host
    profiles:
      - task
    user: $UID:$GID
    volumes:
      - /etc/localtime:/etc/localtime:ro

  overseerr:
    container_name: overseerr
    image: linuxserver/overseerr
    environment:
      PUID: $UID
      PGID: $GID
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $SERVER_DIR/overseerr/config:/config

  plex:
    container_name: plex
    image: linuxserver/plex
    devices:
      - /dev/dri
    environment:
      PUID: $UID
      PGID: $GID
    ports:
      - 32400:32400
    restart: unless-stopped
    tmpfs:
      - /transcode
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $SERVER_DIR/plex/config:/config
      - $DATA_DIR/tv:/tv
      - $DATA_DIR/movies:/movies

  prowlarr:
    container_name: prowlarr
    image: linuxserver/prowlarr
    environment:
      PUID: $UID
      PGID: $GID
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $SERVER_DIR/prowlarr/config:/config

  radarr:
    container_name: radarr
    image: linuxserver/radarr
    environment:
      PUID: $UID
      PGID: $GID
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $SERVER_DIR/radarr/config:/config
      - $DATA_DIR/downloads:/data
      - $DATA_DIR/movies:/movies

  sonarr:
    container_name: sonarr
    image: linuxserver/sonarr
    environment:
      PUID: $UID
      PGID: $GID
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $SERVER_DIR/sonarr/config:/config
      - $DATA_DIR/downloads:/data
      - $DATA_DIR/tv:/tv

  tautulli:
    container_name: tautulli
    image: linuxserver/tautulli
    environment:
      PUID: $UID
      PGID: $GID
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $SERVER_DIR/tautulli/config:/config

  telegraf:
    container_name: telegraf
    image: telegraf
    environment:
      GRAFANA_URL: $GRAFANA_URL
      GRAFANA_USERNAME: $GRAFANA_USERNAME
      GRAFANA_PASSWORD: $GRAFANA_PASSWORD
      HOST_ETC: /hostfs/etc
      HOST_PROC: /hostfs/proc
      HOST_RUN: /hostfs/run
      HOST_SYS: /hostfs/sys
      HOST_VAR: /hostfs/var
      HOST_MOUNT_PREFIX: /hostfs
    group_add:
      - $DOCKER_GID
    network_mode: host
    restart: unless-stopped
    user: $UID:$GID
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /:/hostfs:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro

  transmission:
    container_name: transmission
    image: haugene/transmission-openvpn
    cap_add:
      - NET_ADMIN
    environment:
      OPENVPN_PROVIDER: $OPENVPN_PROVIDER
      OPENVPN_USERNAME: $OPENVPN_USERNAME
      OPENVPN_PASSWORD: $OPENVPN_PASSWORD
      PUID: $UID
      PGID: $GID
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $SERVER_DIR/transmission/config:/config
      - $DATA_DIR/downloads:/data

networks:
  default:
    enable_ipv6: true
