name: themachine

services:
  auth:
    container_name: auth
    image: pkoenig10/auth-oidc
    environment:
      EXTERNAL_URL: https://auth.$DOMAIN
      CLIENT_ID: $CLIENT_ID
      CLIENT_SECRET: $CLIENT_SECRET
      TOKEN_KEY: $TOKEN_KEY
      COOKIE_DOMAIN: $DOMAIN
    restart: unless-stopped
    user: 1000:100
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./auth/config.yml:/config.yml:ro

  backup:
    container_name: backup
    image: pkoenig10/backup-google
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /credentials.json
      BUCKET_NAME: $BUCKET_NAME
    profiles:
      - task
    user: 1000:100
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /config:/server:ro
      - .:/project:ro
      - ./backup/config.yml:/config.yml:ro
      - ./backup/credentials.json:/credentials.json:ro

  caddy:
    container_name: caddy
    image: pkoenig10/caddy
    environment:
      CLOUDFLARE_API_TOKEN: $CLOUDFLARE_API_TOKEN
      DOMAIN: $DOMAIN
      USERNAME: $USERNAME
      PASSWORD: $PASSWORD
    ports:
      - 443:443
      - 443:443/udp
    restart: unless-stopped
    user: 1000:100
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /config/caddy/data:/data
      - /config/caddy/config:/config
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro

  ddns:
    container_name: ddns
    image: pkoenig10/ddns-cloudflare
    environment:
      CLOUDFLARE_API_TOKEN: $CLOUDFLARE_API_TOKEN
      DOMAIN: $DOMAIN
    network_mode: host
    profiles:
      - task
    user: 1000:100
    volumes:
      - /etc/localtime:/etc/localtime:ro

  plex:
    container_name: plex
    image: linuxserver/plex
    devices:
      - /dev/dri
    ports:
      - 32400:32400
    restart: unless-stopped
    tmpfs:
      - /transcode
    user: 1000:100
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /config/plex/config:/config
      - /data:/data

  prowlarr:
    container_name: prowlarr
    image: linuxserver/prowlarr
    restart: unless-stopped
    user: 1000:100
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /config/prowlarr/config:/config

  radarr:
    container_name: radarr
    image: linuxserver/radarr
    restart: unless-stopped
    user: 1000:100
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /config/radarr/config:/config
      - /data:/data

  seerr:
    container_name: seerr
    image: seerr/seerr
    restart: unless-stopped
    user: 1000:100
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /config/seerr/config:/app/config

  sonarr:
    container_name: sonarr
    image: linuxserver/sonarr
    restart: unless-stopped
    user: 1000:100
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /config/sonarr/config:/config
      - /data:/data

  tautulli:
    container_name: tautulli
    image: linuxserver/tautulli
    restart: unless-stopped
    user: 1000:100
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /config/tautulli/config:/config

  telegraf:
    container_name: telegraf
    image: telegraf
    environment:
      GRAFANA_URL: $GRAFANA_URL
      GRAFANA_USERNAME: $GRAFANA_USERNAME
      GRAFANA_PASSWORD: $GRAFANA_PASSWORD
      HOST_ETC: /hostfs/etc
      HOST_PROC: /hostfs/proc
      HOST_RUN: /hostfs/run
      HOST_SYS: /hostfs/sys
      HOST_VAR: /hostfs/var
      HOST_MOUNT_PREFIX: /hostfs
    group_add:
      - 131
    network_mode: host
    restart: unless-stopped
    user: 1000:100
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /:/hostfs:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro

  transmission:
    container_name: transmission
    image: haugene/transmission-openvpn
    cap_add:
      - NET_ADMIN
    environment:
      OPENVPN_PROVIDER: $OPENVPN_PROVIDER
      OPENVPN_USERNAME: $OPENVPN_USERNAME
      OPENVPN_PASSWORD: $OPENVPN_PASSWORD
      PUID: 1000
      PGID: 100
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /config/transmission/config:/config
      - /data:/data

networks:
  default:
    enable_ipv6: true
