name: themachine

services:
  auth:
    container_name: auth
    image: pkoenig10/auth-oidc
    command: >
      -http-address :4180
      -external-url https://auth.$DOMAIN
      -client-id $CLIENT_ID
      -client-secret $CLIENT_SECRET
      -token-key $COOKIE_KEY
      -cookie-domain $DOMAIN
      -config-file /config.yml
    network_mode: host
    restart: unless-stopped
    user: 1000:100
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./auth/config.yml:/config.yml:ro

  backup:
    container_name: backup
    image: pkoenig10/backup-google
    command: >
      -bucket-name $BUCKET_NAME
      -config-file /config.yml
      -credentials-file /credentials.json
    network_mode: host
    profiles:
      - task
    user: 1000:100
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /config:/files/server:ro
      - .:/files/project:ro
      - ./backup/config.yml:/config.yml:ro
      - ./backup/credentials.json:/credentials.json:ro

  ddns:
    container_name: ddns
    image: pkoenig10/ddns-cloudflare
    environment:
      DOMAIN: $DOMAIN
      API_TOKEN: $CLOUDFLARE_API_TOKEN
    network_mode: host
    profiles:
      - task
    user: 1000:100
    volumes:
      - /etc/localtime:/etc/localtime:ro

  overseerr:
    container_name: overseerr
    image: linuxserver/overseerr
    network_mode: host
    restart: unless-stopped
    user: 1000:100
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /config/overseerr/config:/config

  prowlarr:
    container_name: prowlarr
    image: linuxserver/prowlarr
    network_mode: host
    restart: unless-stopped
    user: 1000:100
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /config/prowlarr/config:/config

  telegraf:
    container_name: telegraf
    image: telegraf
    environment:
      GRAFANA_URL: $GRAFANA_URL
      GRAFANA_USERNAME: $GRAFANA_USERNAME
      GRAFANA_PASSWORD: $GRAFANA_PASSWORD
      HOST_ETC: /hostfs/etc
      HOST_PROC: /hostfs/proc
      HOST_RUN: /hostfs/run
      HOST_SYS: /hostfs/sys
      HOST_VAR: /hostfs/var
      HOST_MOUNT_PREFIX: /hostfs
    group_add:
      - 131
    network_mode: host
    restart: unless-stopped
    user: 1000:100
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /:/hostfs:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro

  transmission:
    container_name: transmission
    image: haugene/transmission-openvpn
    cap_add:
      - NET_ADMIN
    environment:
      OPENVPN_PROVIDER: $OPENVPN_PROVIDER
      OPENVPN_USERNAME: $OPENVPN_USERNAME
      OPENVPN_PASSWORD: $OPENVPN_PASSWORD
      PUID: 1000
      PGID: 100
      TRANSMISSION_DOWNLOAD_DIR: /data/downloads/completed
      TRANSMISSION_INCOMPLETE_DIR: /data/downloads/incomplete
    network_mode: host
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /config/transmission/config:/config
      - /data/downloads:/data/downloads
