name: themachine

services:
  auth:
    container_name: auth
    image: pkoenig10/auth-oidc
    command: >
      -http-address :4180
      -external-url https://auth.$DOMAIN
      -client-id $CLIENT_ID
      -client-secret $CLIENT_SECRET
      -token-key $COOKIE_KEY
      -cookie-domain $DOMAIN
      -config-file /config.yml
    network_mode: host
    restart: unless-stopped
    user: 1000:100
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./auth/config.yml:/config.yml:ro

  backup:
    container_name: backup
    image: pkoenig10/backup-google
    command: >
      -bucket-name $BUCKET_NAME
      -config-file /config.yml
      -credentials-file /credentials.json
    network_mode: host
    profiles:
      - task
    user: 1000:100
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /config:/files/server:ro
      - .:/files/project:ro
      - ./backup/config.yml:/config.yml:ro
      - ./backup/credentials.json:/credentials.json:ro

  ddns:
    container_name: ddns
    image: pkoenig10/ddns-cloudflare
    environment:
      DOMAIN: $DOMAIN
      API_TOKEN: $CLOUDFLARE_API_TOKEN
    network_mode: host
    profiles:
      - task
    user: 1000:100
    volumes:
      - /etc/localtime:/etc/localtime:ro
