{
	dns cloudflare {$CLOUDFLARE_API_TOKEN}

	log {
		format console {
			time_local
		}
	}
}

(auth) {
	reverse_proxy auth:80 {
		method GET
		rewrite /auth?group={args[0]}&redirect={scheme}://{hostport}{uri}

		@200 status 200
		handle_response @200 {
		}
	}
}

(basic_auth) {
	basic_auth {
		{$USERNAME} {$PASSWORD}
	}
}

*.{$DOMAIN} {
	tls {
		dns
	}

	respond 404
}

auth.{$DOMAIN} {
	reverse_proxy auth:80
}

downloads.{$DOMAIN} {
	import auth admins
	reverse_proxy transmission:9091
}

movies.{$DOMAIN} {
	import auth admins
	reverse_proxy radarr:7878
}

plex.{$DOMAIN} {
	reverse_proxy plex:32400 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

prowlarr.{$DOMAIN} {
	handle /api/* {
		reverse_proxy prowlarr:9696
	}

	respond 404
}

radarr.{$DOMAIN} {
	handle /api/* {
		reverse_proxy radarr:7878
	}

	respond 404
}

requests.{$DOMAIN} {
	import auth users
	reverse_proxy seerr:5055
}

search.{$DOMAIN} {
	import auth admins
	reverse_proxy prowlarr:9696
}

seerr.{$DOMAIN} {
	handle /api/* {
		reverse_proxy seerr:5055
	}

	respond 404
}

sonarr.{$DOMAIN} {
	handle /api/* {
		reverse_proxy sonarr:8989
	}

	respond 404
}

stats.{$DOMAIN} {
	import auth admins
	reverse_proxy tautulli:8181
}

tautulli.{$DOMAIN} {
	handle /api/* {
		reverse_proxy tautulli:8181
	}

	respond 404
}

transmission.{$DOMAIN} {
	handle /transmission/rpc {
		import basic_auth
		reverse_proxy transmission:9091
	}

	respond 404
}

tv.{$DOMAIN} {
	import auth admins
	reverse_proxy sonarr:8989
}
